name: Selenium Automation

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  run-automation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Build and run Spring Boot app
        run: |
          ./mvnw clean package
          java -jar target/bills-0.0.1-SNAPSHOT.jar
        env:
          APP_BASE_URL: ${{ secrets.APP_BASE_URL }}
          APP_DOWNLOAD_URL: ${{ secrets.APP_DOWNLOAD_URL }}
          APP_USERNAME: ${{ secrets.APP_USERNAME }}
          APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
          APP_HEADLESS: true
          APP_KEY: ${{ secrets.APP_KEY }}

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: bills-pdfs
          path: download/
          retention-days: 7  # optional: keeps artifact for 7 days
